{% extends 'base.html' %}

{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>
            {{ form.username.label_tag}}
        </label>
        {{ form.username }}
        <label>
            {{ form.password.label_tag}}
        </label>
        {{ form.password }}
        {% if messages %}
        <div style="margin-top: 10px;">

            {% for message in messages %}


            <p style="color:black;font-style: italicl;">&#10033; {{ message }}</p>


            {% endfor %}

        </div>
        {% endif %}
        <input style="margin-top:10px;" class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account?<a href="{% url 'todo:register' %}">Register</a></p>
</div>

{% endblock content %}